/* Font Initialization Starts */
@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-ExtraBold.woff2') format('woff2'),
    url('./fonts/Montserrat-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-BoldItalic.woff2') format('woff2'),
    url('./fonts/Montserrat-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-Bold.woff2') format('woff2'),
    url('./fonts/Montserrat-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-BlackItalic.woff2') format('woff2'),
    url('./fonts/Montserrat-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-ExtraLight.woff2') format('woff2'),
    url('./fonts/Montserrat-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-ExtraBoldItalic.woff2') format('woff2'),
    url('./fonts/Montserrat-ExtraBoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-ExtraLightItalic.woff2') format('woff2'),
    url('./fonts/Montserrat-ExtraLightItalic.woff') format('woff');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-Black.woff2') format('woff2'),
    url('./fonts/Montserrat-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-Regular.woff2') format('woff2'),
    url('./fonts/Montserrat-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-MediumItalic.woff2') format('woff2'),
    url('./fonts/Montserrat-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-Medium.woff2') format('woff2'),
    url('./fonts/Montserrat-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-SemiBold.woff2') format('woff2'),
    url('./fonts/Montserrat-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-LightItalic.woff2') format('woff2'),
    url('./fonts/Montserrat-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-Italic.woff2') format('woff2'),
    url('./fonts/Montserrat-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-Light.woff2') format('woff2'),
    url('./fonts/Montserrat-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-SemiBoldItalic.woff2') format('woff2'),
    url('./fonts/Montserrat-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-ThinItalic.woff2') format('woff2'),
    url('./fonts/Montserrat-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-Thin.woff2') format('woff2'),
    url('./fonts/Montserrat-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}


/* Font Initialization Ends */

/* Main Css Starts */
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(255, 64, 87, 0.5);
  border-radius: 10px;
}

::selection {
  background-color: #ff4057;
  color: white;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  font-family: 'Montserrat';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #262626;
}

header {
  position: fixed;
  top: 0%;
  left: 0%;
  right: 0%;
  z-index: 9;
  transition: all 0.5s;
}

.header_light {
  background-color: transparent;
}

.header_dark {
  background-color: #000;
}

.header_flex_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px;
}

.logo_container {
  width: 250px;
}

.top_nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}

.top_nav ul li a {
  color: white;
  text-transform: uppercase;
  padding: 10px 20px;
}

.search_btn {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

.search_container {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: all 0.5s;
}

.search_container form {
  width: 100%;
  position: relative;
  margin: 20px 0px;
}

.search_container input[type="text"] {
  font-size: 18px;
  padding: 10px;
  width: 100%;
}

.search_container input[type="submit"] {
  position: absolute;
  top: 0%;
  right: 0%;
  font-size: 18px;
  padding: 12px 20px;
  border: none;
  color: white;
  background-color: #ff4057;
  cursor: pointer;
}

.search_section {
  padding-top: 100px;
}

.search_container_flex {
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
}

.loader_container {
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  background-color: #262626;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination_container {
  padding-top: 20px;
}

.pagination_flex {
  display: flex;
  align-items: center;
  gap: 20px;
}

.red_btn:disabled {
  border-color: rgb(255, 64, 87, 0.5);
  color: rgb(255, 64, 87, 0.5);
}

.red_btn:disabled:hover {
  background-color: transparent;
  color: rgb(255, 64, 87, 0.5);
}

.loader {
  width: 100px;
  height: 100px;
  border-radius: 500px;
  border: 5px solid;
  border-color: #ff4057 #262626 #ff4057 #262626;
  animation: spinner 1s infinite linear;
}

@keyframes spinner {
  0% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.wrapper {
  max-width: 1450px;
  margin: auto;
  padding: 0px 20px;
  height: 100%;
}

.carousel_movie_backdrop {
  position: relative;
  height: 85vh;
  overflow: hidden;
}

.carousel_movie_backdrop>img {
  width: 100vw;
}

.movie_carousel {
  position: relative;
}

.movie_carousel::after {
  content: "";
  position: absolute;
  top: 95%;
  left: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;
  background-image: linear-gradient(to top, #262626, rgba(38, 38, 38, 0.5), transparent);
}

.gradient {
  position: absolute;
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;
  background-image: linear-gradient(to right, rgb(0, 0, 0), rgb(0, 0, 0, 0.8), rgb(0, 0, 0, 0.5), transparent);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  color: white;
  padding: 0px 70px;
}

.gradient h2 {
  font-size: 30px;
  text-transform: capitalize;
}

.gradient p {
  width: 50%;
}

.gradient img {
  transition: all 0.3s;
  border-radius: 10px;
}

.gradient:hover img {
  box-shadow: 0px 0px 25px #ff4057;
}

.gradient a {
  background-color: #ff4057;
  color: #000;
  font-size: 18px;
  padding: 10px 20px;
  font-weight: 500;
  border: 2px solid #ff4057;
  transition: all 0.3s;
}

.gradient a:hover {
  background-color: transparent;
  color: #ff4057;
}

.movie_row_main_container {
  padding-top: 50px;
}

.movie_row_container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

.movie_row_title {
  color: white;
}

.movie_row_flex_container {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  padding-right: 50px;
  padding-bottom: 5px;
}

.movie_row_container::after {
  content: "";
  width: 50px;
  position: absolute;
  top: 59px;
  right: 0;
  bottom: 4px;
  background-image: linear-gradient(to left, #262626, transparent);
  will-change: opacity;
  pointer-events: none;
}

.movie_card {
  position: relative;
  height: fit-content;
}

.movie_info {
  position: absolute;
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 4px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  padding: 20px 0px;
  background-color: rgb(0, 0, 0, 0.8);
  opacity: 0;
  transition: all 0.3s;
}

.movie_card:hover .movie_info {
  opacity: 1;
}

.movie_info p {
  font-size: 20px;
  font-weight: 500;
}

.movie_info a {
  background-color: #ff4057;
  color: #000;
  font-size: 18px;
  padding: 10px 20px;
  font-weight: 500;
  border: 2px solid #ff4057;
  transition: all 0.3s;
}

.movie_info a:hover {
  background-color: transparent;
  color: #ff4057;
}

.movie_card>img {
  max-width: unset;
}

.votes_container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.movie_hero_backdrop_container {
  width: 100%;
  height: 85vh;
  overflow-y: auto;
  overflow-x: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.movie_hero_backdrop_data {
  position: absolute;
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
  background-color: rgb(0, 0, 0, 0.8);
  backdrop-filter: blur(5px);
}

.movie_hero_backdrop_flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  height: 100%;
}

.movie_detailes_flex {
  width: 70%;
  display: flex;
  flex-direction: column;
  color: white;
  gap: 25px;
}

.movie_title_flex {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.movie_title {
  font-size: 42px;
  font-weight: 600;
}

.movie_title>span {
  font-weight: 400;
}

.movie_tagline {
  font-weight: 500;
  font-style: italic;
  color: rgb(255, 255, 255, 0.7);
}

.movie_buttons_flex {
  display: flex;
  align-items: center;
  gap: 20px;
}

.genre_container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  align-items: center;
}

.genre {
  border: 1px solid #ff4057;
  color: #ff4057;
  padding: 3px 6px;
  font-size: 14px;
  transition: all 0.3s;
}

.genre:hover {
  background-color: #ff4057;
  color: black;
}

.red_btn {
  border: 2px solid #ff4057;
  width: fit-content;
  padding: 10px 20px;
  color: #ff4057;
  transition: all 0.3s;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 10px;
  text-transform: capitalize;
  background-color: transparent;
  cursor: pointer;
}

.red_btn:hover {
  background-color: #ff4057;
  color: white;
}

.red_btn.active {
  background-color: #ff4057;
  color: white;
}

.movie_overview_flex {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.runtime_flex {
  display: flex;
  align-items: center;
  gap: 10px;
}

.movie_cast_container {
  padding-top: 50px;
}

.movie_cast_row {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

.movie_cast_flex_container {
  display: flex;
  align-items: stretch;
  gap: 20px;
  overflow-x: auto;
  padding-right: 50px;
  padding-bottom: 5px;
}

.movie_cast_flex_container::after {
  content: "";
  width: 50px;
  position: absolute;
  top: 59px;
  right: 0;
  bottom: 0px;
  background-image: linear-gradient(to left, #262626, transparent);
  will-change: opacity;
  pointer-events: none;
}

.movie_cast_card {
  display: flex;
  flex-direction: column;
  color: #000;
}

.movie_cast_card>img {
  max-width: unset;
}

.movie_cast_details {
  background-color: #ff4057;
  flex-grow: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal_overlay {
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  background-color: rgb(0, 0, 0, 0.5);
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
}

.close_modal {
  position: absolute;
  top: 50px;
  right: 50px;
  background-color: transparent;
  color: white;
  cursor: pointer;
}

.youtube_container {
  width: 100%;
  min-width: 75vw;
  height: auto;
  aspect-ratio: 1.75;
}

.belongs_to_collection_container {
  padding-top: 50px;
}

.collection_info_container {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 300px;
}

.collection_gradient {
  position: absolute;
  padding: 50px;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  background-image: linear-gradient(to right, #000, #000, rgb(0, 0, 0, 0.5), transparent);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 20px;
}

.collection_gradient h2 {
  color: white;
  font-size: 30px;
}

.current_season_container {
  padding-top: 50px;
}

.current_season_flex {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.current_season {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: dimgray;
}

.current_season_info {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0px 20px;
}

.episodes_container {
  padding-top: 50px;
}

.seasons_overview_container {
  padding-top: 50px;
}

.seasons_overview_flex {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.seasons_row {
  display: flex;
  align-items: center;
  gap: 20px;
  overflow-x: auto;
  padding-bottom: 5px;
}

.season_card img {
  max-width: unset;
}

.images_container {
  padding-top: 50px;
}

.images_flex_container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.images_tab_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.images_container_header {
  display: flex;
  align-items: flex-end;
  gap: 50px;
}

.images_tab {
  display: flex;
  align-items: center;
  gap: 30px;
}

.images_tab button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: white;
  font-size: 20px;
  font-weight: 500;
  border: none;
  padding-bottom: 3px;
  cursor: pointer;
  border-bottom: 4px solid transparent;
  transition: all 0.5s;
}

.images_tab button::after {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  width: 100%;
  height: 4px;
  background: #ff4057;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}

.images_tab button:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.images_tab button.active {
  border-color: #ff4057;
}

.images_body {
  align-items: center;
  gap: 20px;
  overflow-x: auto;
  padding-bottom: 5px;
}

.resized_img {
  width: 32%;
  object-fit: contain;
}

footer {
  background-color: #000;
  color: white;
  margin-top: 50px;
  padding: 50px 0px 20px 0px;
}

.footer_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.footer_flex {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.footer_left_section {
  display: flex;
  flex-direction: column;
}

.footer_left_section>img {
  width: 20%;
}

.footer_right_section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.copyright a {
  color: #ff4057;
  font-weight: 700;
}

/* Main Css Ends */