/* Font Initialization Starts */
@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-ExtraBold.woff2') format('woff2'),
    url('./fonts/Montserrat-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-BoldItalic.woff2') format('woff2'),
    url('./fonts/Montserrat-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-Bold.woff2') format('woff2'),
    url('./fonts/Montserrat-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-BlackItalic.woff2') format('woff2'),
    url('./fonts/Montserrat-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-ExtraLight.woff2') format('woff2'),
    url('./fonts/Montserrat-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-ExtraBoldItalic.woff2') format('woff2'),
    url('./fonts/Montserrat-ExtraBoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-ExtraLightItalic.woff2') format('woff2'),
    url('./fonts/Montserrat-ExtraLightItalic.woff') format('woff');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-Black.woff2') format('woff2'),
    url('./fonts/Montserrat-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-Regular.woff2') format('woff2'),
    url('./fonts/Montserrat-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-MediumItalic.woff2') format('woff2'),
    url('./fonts/Montserrat-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-Medium.woff2') format('woff2'),
    url('./fonts/Montserrat-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-SemiBold.woff2') format('woff2'),
    url('./fonts/Montserrat-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-LightItalic.woff2') format('woff2'),
    url('./fonts/Montserrat-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-Italic.woff2') format('woff2'),
    url('./fonts/Montserrat-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-Light.woff2') format('woff2'),
    url('./fonts/Montserrat-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-SemiBoldItalic.woff2') format('woff2'),
    url('./fonts/Montserrat-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-ThinItalic.woff2') format('woff2'),
    url('./fonts/Montserrat-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-Thin.woff2') format('woff2'),
    url('./fonts/Montserrat-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}


/* Font Initialization Ends */

/* Main Css Starts */
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
  height: 0px;
  position: absolute;
  right: 0%;
}

::-webkit-scrollbar-track {
  position: absolute;
  right: 0%;
}

::-webkit-scrollbar-thumb {
  background-color: #ff4057;
  border-radius: 10px;
}

::selection {
  background-color: #ff4057;
  color: white;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  font-family: 'Montserrat';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #262626;
}

header {
  padding: 10px 0px;
  position: fixed;
  top: 0%;
  left: 0%;
  right: 0%;
  z-index: 999;
  transition: all 0.5s;
}

.header_light {
  background-color: transparent;
}

.header_dark {
  background-color: #262626;
}

.header_flex_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo_container {
  width: 250px;
}

.top_nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}

.top_nav ul li a {
  color: white;
  text-transform: uppercase;
  padding: 10px 20px;
}

.loader_container {
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  background-color: #262626;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  width: 100px;
  height: 100px;
  border-radius: 500px;
  border: 5px solid;
  border-color: #ff4057 #262626 #ff4057 #262626;
  animation: spinner 1s infinite linear;
}

@keyframes spinner {
  0% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.wrapper {
  max-width: 1450px;
  margin: auto;
  padding: 0px 20px;
  height: 100%;
}

.carousel_movie_backdrop {
  position: relative;
  height: 85vh;
  overflow: hidden;
}

.carousel_movie_backdrop>img {
  width: 100vw;
}

.movie_carousel {
  position: relative;
}

.movie_carousel::after {
  content: "";
  position: absolute;
  top: 95%;
  left: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;
  background-image: linear-gradient(to top, #262626, rgba(38, 38, 38, 0.5), transparent);
}

.gradient {
  position: absolute;
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;
  background-image: linear-gradient(to right, rgb(0, 0, 0), rgb(0, 0, 0, 0.8), rgb(0, 0, 0, 0.5), transparent);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  color: white;
  padding: 0px 70px;
}

.gradient h2 {
  font-size: 30px;
  text-transform: capitalize;
}

.gradient p {
  width: 50%;
}

.gradient img {
  transition: all 0.3s;
  border-radius: 10px;
}

.gradient:hover img {
  box-shadow: 0px 0px 25px #ff4057;
}

.gradient a {
  background-color: #ff4057;
  color: #000;
  font-size: 18px;
  padding: 10px 20px;
  font-weight: 500;
  border: 2px solid #ff4057;
  transition: all 0.3s;
}

.gradient a:hover {
  background-color: transparent;
  color: #ff4057;
}

.movie_row_main_container {
  padding-top: 50px;
}

.movie_row_container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

.movie_row_title {
  color: white;
}

.movie_row_flex_container {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  padding-right: 50px;
}

.movie_row_container::after {
  content: "";
  width: 50px;
  position: absolute;
  top: 59px;
  right: 0;
  bottom: 4px;
  background-image: linear-gradient(to left, #262626, transparent);
  will-change: opacity;
  pointer-events: none;
}

.movie_card {
  position: relative;
  height: fit-content;
}

.movie_info {
  position: absolute;
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 4px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  padding: 20px 0px;
  background-color: rgb(0, 0, 0, 0.8);
  opacity: 0;
  transition: all 0.3s;
}

.movie_card:hover .movie_info {
  opacity: 1;
}

.movie_info p {
  font-size: 20px;
  font-weight: 500;
}

.movie_info a {
  background-color: #ff4057;
  color: #000;
  font-size: 18px;
  padding: 10px 20px;
  font-weight: 500;
  border: 2px solid #ff4057;
  transition: all 0.3s;
}

.movie_info a:hover {
  background-color: transparent;
  color: #ff4057;
}

.movie_card>img {
  max-width: unset;
}

.votes_container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.movie_hero_backdrop_container {
  width: 100vw;
  height: 85vh;
  overflow-y: auto;
  overflow-x: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.movie_hero_backdrop_data {
  position: absolute;
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
  background-color: rgb(0, 0, 0, 0.8);
  backdrop-filter: blur(5px);
}

.movie_hero_backdrop_flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  height: 100%;
}

.movie_detailes_flex {
  width: 70%;
  display: flex;
  flex-direction: column;
  color: white;
  gap: 25px;
}

.movie_title>span {
  font-weight: 400;
}

.genre_container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.genre {
  border: 1px solid #ff4057;
  color: #ff4057;
  padding: 5px 10px;
  font-size: 14px;
  transition: all 0.3s;
}

.genre:hover {
  background-color: #ff4057;
  color: white;
}

.youtube_container {
  width: 100%;
  height: auto;
  aspect-ratio: 1.75;
}

/* Main Css Ends */